.StudentCartable{
    margin-top: 50px;
}
.UserInfo{
    margin: auto;
    background-color: #fdfdfd;
    box-shadow: 2px 2px 10px #ccc;
    padding : 30px;
    margin-bottom: 30px;
}
.UserInfoCardHeader{
    text-align: center;
}
.UserInfoListGroupItem{
    text-align: center;
}
.Main{
    margin: auto;
    background-color: #fdfdfd;
    box-shadow: 2px 2px 10px #ccc;
    padding : 30px;
    margin-bottom: 30px;
}